<!DOCTYPE html>
<html>
<head>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../resources/css/default-style.css"/>
	<!-- <link rel="stylesheet" href="/resources/css/social-buttons-3.css"/> -->
	<title>VapePOS</title>
</head>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">
		  VapePOS
		  </a>
		</div>
	</div>
</nav>

<body id="pageContent">

	<div class="jumbotron">
		<h2>Welcome to <b>VapePOS!</b></h2>
		<p>...</p>
		<p>
			<a class="btn btn-info btn-lg" href="/features" role="button">Features</a>
			<a class="btn btn-info btn-lg" href="/pricing" role="button">Pricing</a>
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
		</p>
	</div>

</body>
</html>